<!DOCTYPE html>
<html>
  <head>
    <title>New Comment</title>
  </head>
  <body>
    <h1>Sua publicação tem um novo comentário.</h1>
    <p><%= @comment.title %> </p>
    <p><%= @comment.message %> </p>
    <p><%= @comment.user.name %> </p>

  </body>
</html>